
<h1>Do you like this logo?</h1>
<img src="<%= @logo.link %>">

<h1>

<a href="/rate_logo/1/<%= @organizational_task%>">      <i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
<a href="/rate_logo/0/<%= @organizational_task %>">    <i class="fa fa-thumbs-down" aria-hidden="true"></i></a>



</h1>
