<h1>Do you like this logo?</h1>
<img src="<%= @logo.link %>">

<h1>

<a href="">      <i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
<a href="">    <i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
</h1>
<a href="/add_task"> Return</a>
