
#Why isn't this showing


<h1>Do you like this logo?</h1>
<img src="<%= @logo.link %>">

<p><i class="fa fa-thumbs-up" aria-hidden="true"></i></p>
<p><i class="fa fa-thumbs-down" aria-hidden="true"></i></p>
